#canvas {
    width: 900px;
    height: 500px;
    border: 3px solid white;
    border-radius: 10%;
    background: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: lightgrey;
}